@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Press+Start+2P&family=Sixtyfour+Convergence&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kaushan+Script&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Suez+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour+Convergence&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Hegarty&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Manufacturing+Consent&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Patua+One&family=Permanent+Marker&family=Pirata+One&family=Playwrite+AU+QLD:wght@100..400&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Science+Gothic:wght@100..900&family=Sixtyfour+Convergence&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Text:wght@200..700&family=Suez+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
/* -- Este código é protegido pelos direitos altorais, não deve ser usado e nem copiado 
sem a altorização do altor.-- */


:root {
    --letra: 'Science Gothic', Arial, Helvetica, sans-serif;
    --cor1: rgb(219, 18, 245);
    --fundoicon: rgb(53, 1, 62);
    --fundo: rgb(28, 28, 28);
}

html {
    font-size: 1.2vw;
    margin-top: 0;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
    color: white;
    padding-top: 2rem;
}h1 {
    font-size: 4rem;
    font-family: var(--letra), Arial, Helvetica, sans-serif;
    letter-spacing: 0.4rem;
    color: var(--cor1);
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
}section {
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 0rem;
    padding-bottom: 3rem;
} a {
    transition: 0.3s;
    color: white;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
a:hover {
    transform: scale(1.05);
}
#inicio {
    display: grid;
    grid-template-columns: 27.5% 67.5%;
    gap: 5%;
    span {
        color: var(--cor1);
    }
}.img-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    i {
        position: absolute;
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
        background-color: var(--fundo);
        color: var(--cor1);
        border: 0.2rem solid var(--cor1);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 100%;
        border-radius: 50%;
        border: 0.2rem solid var(--cor1);
    }
}.i1 {
    bottom: 0.5rem;
    left: 0.5rem;
}.i2 {
    top: 0.5rem;
    right: 0.5rem;
}.texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}.titulo {
    color: var(--cor1);
    font-family: var(--letra);
    text-transform: uppercase;
    text-align: center;
}

#links {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    row-gap: 2rem;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 0.5rem;
        i {
            position: absolute;
            right: 2rem;
            top: 0;
            transform: translateY(-50%);
            width: 3rem;
            height: 3rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--cor1);
            background-color: var(--fundo);
            border-radius: 50%;
            transition: 0.2s;
        }
    }a:hover {
        background-color: var(--fundoicon);
        i {
            border: 0.2rem solid var(--cor1);
        }

    }
}

#destaques {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 1rem;
        h3 {
            color: var(--cor1);
            font-family: var(--letra);
            text-transform: uppercase;
        }
        i {
            position: absolute;
            right: 2rem;
            top: 0;
            transform: translateY(-50%);
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--cor1);
            background-color: var(--fundo);
            border-radius: 50%;
        }
    }
}


#pergunta2,#pergunta3,#pergunta4,#pergunta5, #fim {
    display: none;
}
#quiz {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--fundo);
    border: 0.2rem solid var(--cor1);
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    position: relative;
    border-radius: 1rem;
}#soma {
    position: absolute;
    right: 2rem;
    top: 0;
    transform: translateY(-50%);
    padding: 0rem 2rem;
    border: 0.2rem solid var(--cor1);
    border-radius: 0.3rem;
    background-color: var(--fundo);
}#coment {
    text-align: center;
}.perguntas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h3 {
        text-align: center;
    }
}.resposta {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;
        border: 0.2rem solid var(--cor1);
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.2s;
    }div:hover {
        background-color: var(--fundoicon);
        transform: scale(1.03);
    }
}.finaliza {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    img {
        width: 10rem;
        height: 10rem;
        border: 0.2rem solid var(--cor1);
        border-radius: 50%;
    }
}
  


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
    background-color: var(--cor1);
    margin-top: 2rem;
}



/* -- Responsividade para dispositivos moveis -- */
@media (min-width: 768px) and (max-width: 1024px) {
html { 
    font-size: 1.9vw;
}
section {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}

#inicio {
    grid-template-columns: auto;
    gap: 2rem;
}.img-inicio {
    i {
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
        border: 0.3rem solid var(--cor1);
    }
    img {
        width: 90%;
        border: 0.3rem solid var(--cor1);
        margin: 0 auto;
    }
}.i1 {
    bottom: 1.5rem;
    left: 1.5rem;
}.i2 {
    top: 1.5rem;
    right: 1.5rem;
}

#links {
    grid-template-columns: auto;
    row-gap: 2.2rem;
    a {
        border: 0.3rem solid var(--cor1);
        padding: 1.5rem;
        z-index: 0;
        i {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            z-index: -1;
        }
    }
}

#destaques {
    grid-template-columns: auto;
    row-gap: 3rem;
    margin-top: 2rem;
    div {
        border: 0.3rem solid var(--cor1);
        i {
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
        }
    }
}


#pergunta2,#pergunta3,#pergunta4,#pergunta5, #fim {
    display: none;
}
#quiz {
    padding-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 1.5rem;
    border: 0.3rem solid var(--cor1);
}#soma {
    border: 0.3rem solid var(--cor1);
    border-radius: 0.75rem;
}
.resposta {
    gap: 0.5rem;
    div:hover {
        transform: scale(1);
    }
}.finaliza {
    img {
        border: 0.3rem solid var(--cor1);
    }
}
}




@media (max-width: 767px) {
html {
    font-size: 2.7vw;
}
section {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0;
}a:hover {
    transform: scale(1.0);
}#inicio {
    grid-template-columns: auto;
    gap: 2rem;
}.img-inicio {
    i {
        width: 8rem;
        height: 8rem;
        font-size: 4rem;
        border: 0.3rem solid var(--cor1);
    }
    img {
        border: 0.3rem solid var(--cor1);
        margin: 0 auto;
    }
}.titulo {
    margin-left: 8rem;
    margin-right: 8rem;
}

#links {
    grid-template-columns: auto;
    row-gap: 2.2rem;
    a {
        border: 0.3rem solid var(--cor1);
        padding: 1.5rem;
        z-index: 0;
        i {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            z-index: -1;
        }
    }
}

#destaques {
    grid-template-columns: auto;
    row-gap: 3rem;
    margin-top: 2rem;
    div {
        border: 0.3rem solid var(--cor1);
        i {
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
        }
    }
}


#pergunta2,#pergunta3,#pergunta4,#pergunta5, #fim {
    display: none;
}
#quiz {
    padding-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1.5rem;
    border: 0.3rem solid var(--cor1);
}#soma {
    border: 0.3rem solid var(--cor1);
    border-radius: 0.75rem;
}.perguntas {
    h3 {
        text-align: initial;
    }
}
.resposta {
    grid-template-columns: auto;
    gap: 0.5rem;
    div:hover {
        transform: scale(1);
    }
}.finaliza {
    display: grid;
    grid-template-columns: auto;

    img {
        margin: 0 auto;
        width: 60%;
        height: 100%;
        border: 0.3rem solid var(--cor1);
        order: 2;
    }
}
}#texto-fim {
    order: 1;
}



























